@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital@1&display=swap');
*{
    font-family: 'Comic Neue', cursive;
    font-size: bolder;
}
.cards{
    margin-left: 10px;
    border-radius: 2px;
    display: flex;
    content-visibility: 2px;
}

@media (max-width:600px){
  .cards{
    display: block;
  }
  #imagem img{
    height: 500px;
  }
  
}
#nav img{
    margin-left: 34px;
}
.container{
  background-color: rgb(250, 227, 215);
  color: rgb(238, 158, 18);
  border-color:red;
  
}
